html {
    height: 100%;
    width: 100%;
}

body {
    position: absolute;
    height: 100%;
    width: 100%;
}

table {
    position: relative;
    width: 100%;
    height: 80%;
    margin-top: 1.5rem;
    table-layout: auto;
}

tbody>tr {
    cursor: pointer;
}

.page-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 2rem;
    box-shadow: 0 0 10px #0d6efd;
    border-radius: 5px;
    padding: 10px 15px;
    align-content: center;
    flex-direction: row;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
}

.device-list {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

.filter {
    position: relative;
    width: 30%;
    height: 100%;
    margin-top: 2%;
    margin-right: 3%;
}

.filter-container {
    /*display: flex;*/
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 5%;
}

.input-group, .input-group .flex-nowrap {
    margin-top: 3%;
}

.form-check-label {
    color: white;
}

.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-right: 5%;
    /*margin-bottom: 0.125rem;*/
    margin-top: 2%;
    margin-bottom: 2%;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    width: 100%;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    width: 100%;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-top: 58%;
}

.page-link {
    position: relative;
    display: block;
    color: white;
    text-decoration: none;
    background-color: transparent;
    /* border: 1px solid #dee2e6; */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.node-link {
    color:white;
    text-decoration-line: none;
}

.table-container {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: nowrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

tr>.none {
    display: flex;
    border-style: none;
    background-color: transparent;
}

.table>:not(:first-child) {
    border-top: transparent;
}

.table>:not(:first-child)>:first-child>:not(:last-child) {
    border-top: 2px solid #fff;
}

tbody>tr>:last-child {
    cursor: default;
}

.status-container, .range-div, #search-input {
    height: 100%;
    width: 100%;
    min-height: 30px;
    min-width: 150px;
    display: none;
}

.status-container {
    border: transparent;
}


.input-group>.form-control, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: auto;
    min-width: 0;
}

.input-group, .input-group .flex-nowrap {
    margin-top: 3%;
    display: flex;
    flex-wrap: nowrap;
}

.separator {
    min-width: 10px;
}

#current-filter {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #d4dadc;
}

#btn-search {
    color: #fff;
    background-color: #6c757d;
}

#btn-search-reset {
    margin-top: 3%;
}

#pagination {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}