html {
    height: 100%;
    width: 100%;
}

body {
    position: absolute;
    height: 100%;
    width: 100%;
}

table {
    position: relative;
    width: 100%;
    height: 80%;
    margin-top: 1.5rem;
    table-layout: auto;
}

.overview {
    position: relative;
    width: 100%;
    margin-top: 2rem;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
}

.status-container {
    position: relative;
    display: flex;
    height: auto;
    width: auto;
    min-height: 30px;
    min-width: 30px;
    margin-bottom: 1rem;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    overflow-x: overlay;
}

.status-div-container, .status-div {
    position: relative;
    float: left;
    display: inline;
    min-height: 30px;
    min-width: 30px;
    margin: 0.1rem;
}

.status-container {
    border: #646278 1px solid;
}

.btn-primary {
    background-color: transparent;
}

.page-link {
    position: relative;
    display: block;
    color: white;
    text-decoration: none;
    background-color: transparent;
    /* border: 1px solid #dee2e6; */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bottom-bar {
    width: 100%;
    min-height: 50px;
    margin-top: 2%;
    background-color: #212529;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-brand {
    margin-left: 8%;
}

table {
    position: relative;
    width: 100%;
    height: 80%;
    margin-top: 1.5rem;
    table-layout: auto;
}

.node-link {
    color:white;
    text-decoration-line: none;
}

#map { 
    height: 70vh; 
    width : 100%;
    /*margin: 3% auto;*/
  }

.select-metric {
    display: inline-flex;
}

.dropdown-scrollbar {
    height: 20vh;
    overflow-y: scroll;
}

tbody>tr {
    cursor: pointer;
}