<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Device Overview</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/overview.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body style="background-color:#2e3236">
    <div th:insert="~{navbar :: navbar}">
    </div>



    <div class="container">
        <div class="overview">

            <h1 style="color: white;"> General Overview </h1>

            <!-- This is used for the grid of the node statuses -->
            <h2 style="color: white; margin-bottom: 1rem"> Device Statuses</h2>

            <!-- The colors used are a bit too bright, also the design of this should be discussed with the client -->
            <div class="status-container">
                <div class="status-div-container" th:each="device, iter : ${devices}">
                    <div class="status-div" th:title="${device.getName()}" th:if="${device.isOnline()}" style="background: #4eb940">
                        <a class="status-div" href="#"></a>
                    </div>
                    <div class="status-div" th:title="${device.getName()}" th:unless="${device.isOnline()}" style="background: #ad2626">
                        <a class="status-div" href="#"></a>
                    </div>
                </div>
            </div>

            <h2 style="color: white"> Device List </h2>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Instrument Name</th>
                        <th>Location</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- The table rows should link to the device overview page -->
                    <tr th:each="device : ${devices}">
                        <td><a th:href="${'/node/' + device.getName()}"><span th:text="${device.getName()}">Unknown Node</span></a></td>
                        <td th:text="${device.getLocation()}"></td>
                        <td th:if="${device.isOnline()}" style="color:#4eb940">Online</td>
                        <td th:unless="${device.isOnline()}" style="color:#ad2626">Offline</td>
                    </tr>
                </tbody>
            </table>
            <!-- Line bellow inserted for testing ElasticsearchService and connection to Elasticsearch -->
            <h1 th:text="${hits}"></h1>
        </div>
    </div>

</body>

</html>